<h1>Here are all your tasks</h1>
<table border="1">
  <thead>
    <tr>
      <th>Creation date</th>
      <th>Status</th>
      <th>Name</th>
      <th>Details</th>
      <th>Delete ?</th>
    </tr>
  </thead>
 <% @tasks.each do |task| %>
    <tr>
      <td>
        <%= task.created_at.strftime("%m/%d/%Y") %>
      </td>
      <td style="text-align: center">
        <% var = task.done ? "x" : "" %>
        <%= var %>
      </td>
      <td><%= task.name %></td>
      <td><%=link_to "Show details", task_path(task.id)%></td>
      <td style="text-align: center">
      <%=link_to "Get rid of this shit", delete_tasks_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" }%>
      </td>
    </tr>
  <% end %>
</table>

<div style="margin-top: 50px">
<%=link_to "Add a new task", tasks_new_path%>
</div>
